.hide {
  display: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
}

h2.bb-docs {
    background-color: #F5F5F5;
    border: 1px solid #E8E8E8;
    color: #666666;
    font-family: "Open Sans",Sans-serif;
    font-size: 1.8rem;
    font-weight: lighter;
    margin: 10px 0;
    padding: 0.4rem 0.4rem 0.4rem 3rem;
}

.container {
  padding: 1rem;
}

/* -----------------------------------
 * BUTTONS
 * ----------------------------------- */
 body[role="application"] button::-moz-focus-inner {
    border: medium none;
    outline: medium none;
}

body[role="application"] button, body[role="application"] a[role="button"] {
    -moz-box-sizing: border-box;
    background: url("images/ui/default.png") repeat-x scroll left bottom #FAFAFA
    border: 1px solid #9F9F9F;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    color: #333333;
    display: inline-block;
    font-family: 'Open Sans',Sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    height: 3.8rem;
    line-height: 3.8rem;
    margin: 0 0 1rem;
    outline: medium none;
    overflow: hidden;
    padding: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

body[role="application"] button:active, body[role="application"] a[role="button"]:active, body[role="application"] button.affirmative:active, body[role="application"] a.affirmative[role="button"]:active {
    background: none repeat scroll 0 0 #008AAA;
    border-color: #008AAA;
    color: #333333;
}

body[role="application"] button.affirmative, body[role="application"] a.affirmative[role="button"] {
    background-color: #00CAF2;
    background-image: url("images/ui/affirmative.png");
    border-color: #00ACCE;
}

/* ----------------------------------
* PROGRESS + ACTIVITIES
* ---------------------------------- */

/* Activity indicator */
 body[role="application"] progress:not([value]) {
   width: 2.9rem;
   height: 2.9rem;
   background: url(images/ui/default.png) no-repeat left top;
   border: none;
   animation: 1s moveDefault infinite steps(10);
   display: inline-block;
   vertical-align: middle;
 }

 body[role="application"] progress:not([value])::-moz-progress-bar {
   background: none;
 }

body[role="application"] progress:not([value])[data-theme="dark"],
body[role="application"] p[role="status"][data-theme="dark"] progress:not([value]) {
  background-image: url(images/ui/dark/default.png);
}

body[role="application"] progress:not([value]).spinner {
  background-image: url(images/ui/spinner.png);
   animation: 1s moveSpinner infinite steps(12);
   width: 1.6rem;
   height: 1.6rem;
}

/* Progress bar */
body[role="application"] progress[value] {
   width: 100%;
   background: #838990;
   border: none;
   height: 0.5rem;
   display: block;
 }

body[role="application"] progress[value]::-moz-progress-bar {
   background: #01c5ed;
 }

/* Labels */
body[role="application"] p[role="status"] {
  padding: 0.5rem;
  font: 600 1.3rem/1em "Open Sans", Sans-serif;
}

body[role="application"] p[role="status"] progress:not([value]) {
  margin-right: 0.5rem;
}

body[role="application"] p[role="status"] progress:not([value]) + span {
  margin-bottom: 0;
}

body[role="application"] p[role="status"] span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.5rem;
}

body[role="application"] p[role="status"][data-theme="dark"] {
  background: #555d65;
  color: #fff;
}

@keyframes moveDefault {
  from {
    background-position: 0 top;
  }
  
  to {
    background-position: -390px top;
  }
}

@keyframes moveSpinner {
  from {
    background-position: 0 top;
  }

  to {
    background-position: -300px top;
  }
} 


/* ----------------------------------
 * HEADERS: default
 * ---------------------------------- */

section[role="region"] > header:first-child {
  position: relative;
  z-index: 10;
  padding: 0;
  height: 5rem;
  color: #fff;
  background: url(headers/images/ui/header.png) repeat-x 0 0;
  border: none;
}

section[role="region"] > header:first-child:after {
  content: "";
  display: block;
  height: 0.3rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: url(headers/images/ui/shadow.png) repeat-x 0 0;
  background-size: auto 100%;
}

section[role="region"] > header:first-child h1 {
  font: 2.2rem/4.8rem "Open Sans", Sans-serif;
  text-align: left;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0 0 0 3rem;
  height: 100%
}

section[role="region"] > header:first-child h1 em {
  font: bold 1.5rem/1em "Open Sans", Sans-serif;
}

section[role="region"] > header:first-child form {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 1.1rem;
  margin-left: 2.5rem;
}

section[role="region"] > header:first-child input[type=text] {
  width: 100%;
  height: 2.7rem;
  -moz-box-sizing: border-box;
  padding: 0 2.5rem 0 0.5rem;
  border: solid 1px #9d4123;
  border-top-color: #a6501e;
  border-radius: 0.3rem;
  background: #fff url(headers/images/ui/shadow.png) repeat-x left -1px;
  font: 1.35rem/1em "Open Sans", Sans-serif;
  box-shadow: none;
}

section[role="region"] > header:first-child form button[type="reset"] {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  width: 3rem;
  height: auto;
  margin: 0;
  display: none;
  border: none;
  background: url(headers/images/icons/clear.png) no-repeat center center;
}

section[role="region"] > header:first-child input[type=text]:valid + button[type="reset"] {
  display: block;
}

/* Generic set of actions in toolbar */
section[role="region"] > header:first-child menu[type="toolbar"] {
  height: 100%;
  float: right;
}

section[role="region"] > header:first-child menu[type="toolbar"] a,
section[role="region"] > header:first-child menu[type="toolbar"] button {
  height: 5rem;
  min-width: 5rem;
  width: auto;
  margin-bottom: 0;
  border-radius: 0;
  line-height: 5rem;
  float: left;
  background: none;
  padding: 0 1.75rem;
  -moz-box-sizing: border-box;
  text-align: center;
  text-shadow: none;
  position: relative;
  z-index: 5;
}

section[role="region"] > header:first-child menu[type="toolbar"] a:last-child,
section[role="region"] > header:first-child menu[type="toolbar"] button:last-child {
  background: url(headers/images/ui/separator.png) no-repeat left center;
  margin-left: -2px;
  z-index: 1;
}

section[role="region"] > header:first-child menu[type="toolbar"] {
  padding: 0;
  margin: 0;
}

section[role="region"] > header:first-child a,
section[role="region"] > header:first-child button {
  border: none;
  background: none;
  padding: 0;
  overflow: hidden;
  font: 600 1.4rem/1.1em "Open Sans", Sans-serif;
  color: #fff;
  border-radius: 0;
}


/* Pressed state */
section[role="region"] > header:first-child a::-moz-focus-inner,
section[role="region"] > header:first-child button::-moz-focus-inner,
section[role="region"] > header:first-child a:active,
section[role="region"] > header:first-child button:active,
section[role="region"] > header:first-child a:focus,
section[role="region"] > header:first-child button:focus {
  outline: none !important;
  border: none !important;
}

section[role="region"] > header:first-child a:not([aria-disabled="true"]):active .icon:after,
section[role="region"] > header:first-child button:not(:disabled):active .icon:after,
section[role="region"] > header:first-child menu[type="toolbar"] a:not([aria-disabled="true"]):active,
section[role="region"] > header:first-child menu[type="toolbar"] button:not(:disabled):active  {
  background: #008aaa !important;
  transition: background 0.2s ease;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2) !important;
}

/* Disabled state */
section[role="region"] > header:first-child menu[type="toolbar"] a[aria-disabled="true"],
section[role="region"] > header:first-child menu[type="toolbar"] button[disabled]  {
  opacity: 0.5;
}

section[role="region"] > header:first-child a:first-letter,
section[role="region"] > header:first-child button:first-letter {
  text-transform: uppercase;
}

/* Icon definitions */
section[role="region"] > header:first-child .icon {
  display: inline-block;
  float: none;
  width: 3rem;
  height: 3rem;
  margin: 0 -1rem;
  background: transparent no-repeat center center;
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
  height: 4.9rem;
}

section[role="region"] > header:first-child .icon.icon-add {
  background-image: url(headers/images/icons/add.png);
}

section[role="region"] > header:first-child .icon.icon-edit {
  background-image: url(headers/images/icons/edit.png);
}

section[role="region"] > header:first-child .icon.icon-close {
  background-image: url(headers/images/icons/close.png);
}

section[role="region"] > header:first-child .icon.icon-back {
  background-image: url(headers/images/icons/back.png);
}

section[role="region"] > header:first-child .icon.icon-menu {
  background-image: url(headers/images/icons/menu.png);
}

section[role="region"] > header:first-child .icon.icon-user {
  background-image: url(headers/images/icons/user.png);
}

/* Navigation links (back, cancel, etc) */
section[role="region"] > header:first-child > button,
section[role="region"] > header:first-child > a {
  position: absolute;
  left: 0;
  width: 4rem;
  height: 5rem;
  background: url(headers/images/ui/separator-large.png) no-repeat 2rem center;
  overflow: hidden;
  text-align: center;
}

section[role="region"] > header:first-child > button .icon,
section[role="region"] > header:first-child > a .icon {
  overflow: visible;
  text-indent: -9999px;
  position: static;
  margin-left: -3rem;
  height: 4.9rem;
}

section[role="region"] > header:first-child > button .icon:after,
section[role="region"] > header:first-child > a .icon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 2rem;
  height: 4.9rem;
  background: #9d3d26 url(headers/images/ui/negative.png) repeat-x 0 0;
}

section[role="region"] > header > a .icon.icon-menu,
section[role="region"] > header > button .icon.icon-menu {
  background-position: -1rem center;
}

/* ----------------------------------
 * HEADERS: subheader
 * ---------------------------------- */

section[role="region"] > header {
  background: url(headers/images/ui/subheader.png) repeat left bottom;
  border-bottom: solid 1px #e6e6e6;
  z-index: 0;
  padding: 0.4rem 0;
  height: auto;
  color: #424242;
}

section[role="region"] > header:after {
  display: none;
}


section[role="region"] > header h2 {
  font-family: "Open Sans", Sans-serif;
  font-weight: 600;
  margin: 0 3rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

/* ----------------------------------
 * HEADERS: search
 * ---------------------------------- */

section[role="region"] > header + form.search {
  height: 3rem;
  background: url(headers/images/ui/search.png) repeat-x left bottom;
  padding: 0.5rem 2.4rem 0 2.4rem;
}

section[role="region"] > header + form.search input[type="text"] {
  width: 100%;
  background: #fff;
  border: 1px solid #b8b8b8;
  border-radius: 0.3rem;
  height: 2.2rem;
  line-height: 2.2rem;
  font-family: "Open Sans", Sans-serif;
  font-weight: 600;
  color: #333;
  text-indent: 0.5rem;
  font-size: 1.3rem;
}

section[role="region"] > header + form.search input[type="text"]:-moz-placeholder {
  color: #777;
}

/* ----------------------------------
 * HEADERS: dark
 * ---------------------------------- */
section[role="region"].skin-dark > header:first-child,
.skin-dark section[role="region"] > header:first-child {
  background: url(headers/images/ui/dark/header.png) repeat-x 0 0;
}

/* Navigation links (back, cancel, etc) */
section[role="region"].skin-dark > header:first-child > a .icon:after,
.skin-dark section[role="region"] > header:first-child > a .icon:after,
section[role="region"].skin-dark > header:first-child > button .icon:after,
.skin-dark section[role="region"] > header:first-child > button .icon:after {
  background: #26272c url(headers/images/ui/dark/negative.png) repeat-x 0 0;
}

section[role="region"].skin-dark > header:first-child menu[type="toolbar"] a:last-child,
.skin-dark section[role="region"] > header:first-child menu[type="toolbar"] a:last-child,
section[role="region"].skin-dark > header:first-child menu[type="toolbar"] button:last-child,
.skin-dark section[role="region"] > header:first-child menu[type="toolbar"] button:last-child {
  background-image: url(headers/images/ui/dark/separator.png);
}

section[role="region"].skin-dark > header,
.skin-dark section[role="region"] > header {
  background: #7f7f7f url(headers/images/ui/dark/subheader.png) repeat-x left bottom;
  color: #c5c5c5;
}

/* ----------------------------------
* LISTS: default
* ---------------------------------- */
body[role="application"] ul, body[role="application"] ol {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", Sans-serif;
}

body[role="application"] li {
  display: inline-block;
  width: 100%;
  -moz-box-sizing: border-box;
  transition: transform 0.3s ease;
  border: solid 1px #dbd9d9;
  border-right: none;
  border-left: none;
  margin: -1px 0 0;
  position: relative;
}

body[role="application"] li > a:first-of-type,
body[role="application"] li > a:first-of-type {
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 100%;
  position: relative;
}

/* State press */
body[role="application"] li > a:first-of-type:after {
  content: "";
  transition: opacity 0.2s ease;
  background-color: #b1f1ff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
}

body[role="application"] li > a:first-of-type:active:after {
  opacity: 0.6;
}

body[role="application"] li .aside {
  float: left;
  display: inline;
  position: relative;
  width: 5.5rem;
  height: 6rem;
  text-align: center;
}

body[role="application"] li .aside.end {
  float: right;
}

body[role="application"] li .aside:before {
  content: "";
  height: 100%;
  width: 1px;
  margin-left: -1px;
  display: inline-block;
  vertical-align: middle;
}

body[role="application"] li .aside time {
  display: inline-block;
  vertical-align: super;
  width: 4rem;
  padding-right: 1rem;
  font: 1.1rem/1em "Open Sans", Sans-serif;
  text-transform: uppercase;
  text-align: right;
}

body[role="application"] li img {
  float: right;
  display: inline;
  width: 6rem;
  height: 6rem;
  background: transparent center center;
  background-size: 100% auto;
}

body[role="application"] li dl {
  display: block;
  overflow: hidden;
  padding: 1rem 0.5rem 0 2rem;
}

body[role="application"] li .aside ~ dl {
  padding-left: 0.5rem;
}

body[role="application"] li dl dt {
  font: 1.8rem/1.2em "Open Sans", Sans-serif;
  white-space: nowrap;
  height: 2.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

body[role="application"] li dl dt strong {
  font-weight: 600;
  font-family: "Open Sans", Sans-serif;
}

body[role="application"] li dl dt em {
  font-size: 1.3rem;
  font-style: normal;
}

body[role="application"] li dl mark {
  background-color: #cfd3d7;
}

body[role="application"] li dl dd {
  font-size: 1.4rem;
  color: #5b5b5b;
  white-space: nowrap;
  height: 1.8rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

body[role="application"] li dl dd strong {
  font-weight: 600;
  font-family: "Open Sans", Sans-serif;
  color: #000;
}

body[role="application"] li dl dd time {
  font-size: 1.4rem;
  color: #5b5b5b;
  margin-right: 0.3rem;
}

body[role="application"] li dl dd span {
  margin-right: 0.3rem;
}

body[role="application"] li dl dd span:last-child {
  margin: 0;
}

/* Icon definitions */
body[role="application"] li .icon {
  display: inline-block;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  background: transparent no-repeat center center;
  background-size: 100% auto;
  font: 0/0 a;
  overflow: hidden;
  position: relative;
}

body[role="application"] li .icon.icon-arrowaction {
  background-image: url(images/icons/arrowaction.png);
  width:1rem;
  height: 1rem;
  vertical-align: bottom;
  margin: 0 -3rem 0.5rem 0;
}

body[role="application"] li .icon.icon-callout {
  background-image: url(images/icons/callout.png);
  width: 2.4rem;
  height: 2rem;
}

body[role="application"] li .icon.icon-smsin {
  background-image: url(images/icons/smsin.png);
  width: 2.5rem;
  height: 2.2rem;
}

body[role="application"] li[data-state="new"] .icon.icon-smsin {
  background-image: url(images/icons/smsin-new.png);
  width: 2.5rem;
  height: 2.2rem;
}

/* State edit*/
body[role="application"] ul[data-state="edit"] li,
body[role="application"] ol[data-state="edit"] li {
  transform: translateX(5rem);
}

body[role="application"] ul[data-state="edit"] li > label.check,
body[role="application"] ol[data-state="edit"] li > label.check {
   opacity: 1;
}

body[role="application"] li > label.check {
  transition: opacity 0.6s ease;
  width: 5rem;
  height: 6rem;
  right: 100%;
  position: absolute;
  top: -1px;
  z-index: 100;
  opacity: 0;
  border: solid 1px #DBD9D9;
  border-left: none;
  border-right: none;
}

/* State disabled */
body[role="application"] li[aria-disabled="true"]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
  opacity: 0.7;
}

body[role="application"] li[aria-disabled="true"] {
  pointer-events:none;
}

/* State new */
body[role="application"] li[data-state="marked"]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1.6rem;
  width: 0.9rem;
  height: 0.9rem;
  margin-left: 0.5rem;
  background: url(images/icons/dot.png) no-repeat center;
  background-size: 100% auto;
}

body[role="application"] li[data-state="new"] time {
  color: #52b6cc !important;
}

/* State tagged */
body[role="application"] li[data-state="tagged"]:after {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
  width: 0.4rem;
}

body[role="application"] li[data-tag="A"]:after { background-color: #e7a300; }
body[role="application"] li[data-tag="B"]:after { background-color: #954fa7; }


/* ----------------------------------
* LISTS: Overlay theme
* ---------------------------------- */
body[role="application"] ul.overlay li,
body[role="application"] ol.overlay li {
  border-top-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.6);
}

body[role="application"] ul.overlay li dl dt,
body[role="application"] ol.overlay li dl dt {
  color: #fff;
}

body[role="application"] ul.overlay li dl dd,
body[role="application"] ol.overlay li dl dd {
  color: #ccc;
}

body[role="application"] ul.overlay .icon.icon-smsin,
body[role="application"] ol.overlay .icon.icon-smsin {
  background-image: url(images/icons/smsin-overlay.png);
  width: 3.1rem;
  height: 3.1rem;
}